<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="body">
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <span>Bookers</span>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
              <li><a class="glyphicon glyphicon-home home" href="<%= root_path %>"> Home</a></li>
                <% if user_signed_in? %>
                  <li><a class="glyphicon glyphicon-user users" href="<%= users_path %>"> Users</a></li>
                  <li><a class="glyphicon glyphicon-book books" href="<%= books_path %>"> Books</a></li>
                  <li><%= link_to "logout", destroy_user_session_path, method: :delete %></li>
                <% else %>
                  <li><a class="glyphicon glyphicon-link about" href="/home/about"> About</a></li>
                  <li><a class="glyphicon glyphicon-edit sign_up" href="<%= new_user_registration_path %>"> sign up</a></li>
                  <li><a class="glyphicon glyphicon-log-in sign_in" href="<%= new_user_session_path %>"> login</a></li>
                <% end %>


          </ul>
        </nav>
      </div>
  </header>

  <div class="container">
    <p id="notice">
      <%= flash[:notice] %>
    </p>
    
    <%= yield %>
  </div>
  </body>
</html>
